@use '../partials/general';

.mx-headerCont {
    min-height: 50vw;

    &__left__herowrapper__hero {
        font-size: 10vw;
    }

    &__left__herowrapper__sub {
        font-size: 2.5vw;
    }

    &__primary {
        color: general.$color-primary;
    }
}
